<div class="container">
  <h2 style="color: #1d62a7;padding-top: 30px;">Leave Management</h2><br>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="padding-top: 90px;padding-left:10px;">
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body"></div>
    <table class="table table-hover" style="background-color:white;margin-right:100px;">
        <thead>
          <tr class="t1">
            <th>Loss Of Pay</th>
            <th>0</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success"> 
              <th>Casual Leave</th>
              <th>0</th>
        
          </tr>
          <tr>
            
            <th> Sick leave</th>
            <th> 0</th>
          </tr>
          <tr>
              <th> comp-off</th>
              <th> 0</th>
            
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  <div class="col-sm-6">
  <img src="assets/leave-management-system-500x500.png" style="width: 500px;height:400px;">
  </div>
  
</div>
</div>
