 <!-- <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-th-list"></i> Employee</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">Masters</li>
      <li class="breadcrumb-item active">
        <a href="#">Dashboard</a>
      </li>
    </ul>
  </div>
  
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbarCollapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> 
     
      
    
       <div class="collapse navbar-collapse navbarCollapse"> 
          <ul class="nav navbar-nav navbar-left">
              <li class="active">
      
        <li class="nav-item">
            <a routerLink="kye">Kye</a>
        </li>
        <li class="nav-item">
            <a routerLink="title">Title</a>
        </li>
        <li class="nav-item">
            <a routerLink="experience">Experience</a>
        </li>
      </ul>
          </div>
          </div>
      </div>
  </nav>
    
     -->


   <!-- <script>
    $(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
    </script>



 <!-- <script>
$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>  -->





<nav class="row">
  <div class="nav nav-tabs nav-fill left" id="nav-tab" role="tablist">
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="basicInfo" >
  <b>Basic Info</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="onboardingdetails" >
  <b>Onboarding</b>
  </a>
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false"  routerLink="education" >
  <b>Education</b>
  </a>
         
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
   aria-selected="true" routerLink="experience" >
  <b>Experience</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="skill" >
  <b>Skill</b>
  </a>
  
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="certification" >
  <b>Certification</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="insurance" >
  <b>Insurance</b>
  </a>
  
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-bankdetails"
  aria-selected="false"  routerLink="bankdetails" >
  <b>Bank Details</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="true" routerLink="contact" >
  <b>Contact</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-kye" 
  aria-selected="false" routerLink="kye">
  <b> KYE</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false"  routerLink="businessunit" >
  <b>Business Unit</b>
  </a>
  
   
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-title" 
  aria-selected="false" routerLink="title">
  <b> Title</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="projectdetails" >
  <b>Project</b>
  </a>
  
  
  <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-home"
  aria-selected="false" routerLink="dependentdetails" >
  <b>Dependent</b>
  </a>
  
        </div>
       </nav>
  
  
  
  
  <router-outlet></router-outlet>